---
import Test from "../components/test.svelte"
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';

---

<Layout>
	<h1 class="text-3xl font-bold text-blue-900">¡Hola, Astro + Tailwind!</h1>
	<Test client:load/>
</Layout>


